<!DOCTYPE html>
<html>
<head>
    <title>Graciela Chika Putri</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>

<body>
    <div class="jumbotron">
        <h1 style="font-size : 50px"> Hello, Apa kabar? </h1>
    </div>
    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
        <div class="my-auto">
            <h2 class="mb-5">{{ title }}</h2>
            <div class="col-sm-12 form-row field-desc">
                <div>
                    <form id="form" method="POST" action = "{% url 'status:add_status' %}">
                        {% csrf_token %}
                        {{form}}
                        <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </section>
    <div class="table-responsive">
        {% if Status %}
        <table class = "table table-hover">
            <thead>
                <th> Date </th>
                <th> Status </th>
            </thead>
            {% for data in Status %}
            <tr>
            <td> {{ data.date }} </td>
            <td> {{ data.Status }} </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h2> No Status </h2>
        {% endif %}
    </div>     
</body>
</html>>
